# backend

/hmdp/backend/HELP.md
/hmdp/backend/target/
/hmdp/backend/!.mvn/wrapper/maven-wrapper.jar
/hmdp/backend/src/main/resources/application-prod.yml
/hmdp/backend/src/main/resources/application-prod.yml

### STS ###
/hmdp/backend/.apt_generated
/hmdp/backend/.classpath
/hmdp/backend/.factorypath
/hmdp/backend/.project
/hmdp/backend/.settings
/hmdp/backend/.springBeans
/hmdp/backend/.sts4-cache

### IntelliJ IDEA ###
/hmdp/backend/.idea
/hmdp/backend/*.iws
/hmdp/backend/*.iml
/hmdp/backend/*.ipr
/hmdp/backend/.mvn

### NetBeans ###
/hmdp/backend/nbproject/private/
/hmdp/backend/nbbuild/
/hmdp/backend/dist/
/hmdp/backend/nbdist/
/hmdp/backend/.nb-gradle/
/hmdp/backend/build/
/hmdp/backend/!**/src/main/**/build/
/hmdp/backend/!**/src/test/**/build/

### VS Code ###
/hmdp/backend/.vscode/

# deploy
/deploy/docker/conf/config-prod

/drogon/hmdp-cpp-backend/src/todo